<h2>New Profile</h2>

<form action="/profiles" method="post">
  <label for="profile[name]">Name:</label>
  <input name="profile[name]">

  <label for="profile[age]">Age:</label>
  <input name="profile[age]">

  <label for="profile[occupation]">Occupation:</label>
  <input name="profile[occupation]">

  <label for="profile[family]">Family:</label>
  <input name="profile[family]">

  <label for="profile[friends]">Friends:</label>
  <input name="profile[friends]">

  <label for="profile[favourites]">Favourites:</label>
  <input name="profile[favourites]">

  <label for="profile[hobbies]">Hobbies:</label>
  <input name="profile[hobbies]">

  <input type="submit" class="button" value="Create">
</form>
