<!DOCTYPE html>
<html>
<head>
  <title>ProfileApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/profiles/new">Add Profile</a></li>
</ul>
</nav>

<%= yield %>

</body>
</html>
