<!DOCTYPE html>
<html>
<head>
  <title>ProfileApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1>Profiles</h1>
    <h2>We are fictional, but fiery</h2>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profiles/new">Add Profile</a></li>
          </ul>
        </nav>
  </header>
<%= yield %>

</body>
</html>
